In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
from matplotlib import interactive
interactive(True)
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import seaborn as sns
sns.set()
import statsmodels.api as sm
from scipy import interpolate
from scipy import stats
from scipy import integrate
from scipy.optimize import curve_fit
import matplotlib.cm as cm
import warnings
warnings.filterwarnings('ignore')
import re

In [2]:
#current launch systems for geosynchronous orbit
geo = pd.DataFrame(columns = ['Manufacturer', 'Vehicle', 'Payload to GEO (kg)'])

manufacturer = ['ULA']*15

vehicle = ['Atlas V 411', 'Atlas V 421', 'Atlas V 431', 'Atlas V 521', 'Atlas V 531', 'Atlas V 541', 'Atlas V 551', 
           'Delta IV M+(5,2)', 'Delta IV M+(5,4)', 'Delta IV Heavy', 
           'Vulcan Centaur 502*', 'Vulcan Centaur 522*', 'Vulcan Centaur 542*', 'Vulcan Centaur 562*', 'Vulcan Centaur Heavy*']

payload_weight = [1935, 2480, 2820, 2540, 3080, 3530, 3850, 
                  1840, 2710, 6580, 7200,
                 2600, 4800, 6500, 7200]

geo['Manufacturer'] = manufacturer
geo['Vehicle'] = vehicle
geo['Payload to GEO (kg)'] = payload_weight
geo.set_index('Manufacturer')

                            Vehicle  Payload to GEO (kg)
Manufacturer
ULA                     Atlas V 411                 1935
ULA                     Atlas V 421                 2480
ULA                     Atlas V 431                 2820
ULA                     Atlas V 521                 2540
ULA                     Atlas V 531                 3080
ULA                     Atlas V 541                 3530
ULA                     Atlas V 551                 3850
ULA                Delta IV M+(5,2)                 1840
ULA                Delta IV M+(5,4)                 2710
ULA                  Delta IV Heavy                 6580
ULA             Vulcan Centaur 502*                 7200
ULA             Vulcan Centaur 522*                 2600
ULA             Vulcan Centaur 542*                 4800
ULA             Vulcan Centaur 562*                 6500
ULA           Vulcan Centaur Heavy*                 7200

In [3]:
#current launch systems for geostationary transfer orbit
gto = pd.DataFrame(columns = ['Manufacturer', 'Vehicle', 'Payload to GTO (kg)'])

manufacturer = ['ULA']*18 + ['SpaceX']*3 + ['Northrop Grumman'] + ['Blue Origin']

vehicle = ['Atlas V 401', 'Atlas V 411', 'Atlas V 421', 'Atlas V 431', 'Atlas V 501', 'Atlas V 511', 'Atlas V 521', 'Atlas V 531', 'Atlas V 541', 'Atlas V 551',
           'Delta IV M+(5,2)', 'Delta IV M+(5,4)', 'Delta IV Heavy', 
           'Vulcan Centaur 502*', 'Vulcan Centaur 522*', 'Vulcan Centaur 542*', 'Vulcan Centaur 562*', 'Vulcan Centaur Heavy*',
          'Falcon 9', 'Falcon Heavy', 'Starship*',
          'Minotaur V',
          'New Glenn*']


payload_weight = [4750, 5750, 6890, 7700, 3780, 5250, 6480, 7450, 8290, 8900, 
                  5080, 6890, 14210, 
                 2900, 7600, 10800, 13600, 14400,
                 8300, 26700, 21000,
                 670,
                 13600]

gto['Manufacturer'] = manufacturer
gto['Vehicle'] = vehicle
gto['Payload to GTO (kg)'] = payload_weight
gto.set_index('Manufacturer')

                                Vehicle  Payload to GTO (kg)
Manufacturer
ULA                         Atlas V 401                 4750
ULA                         Atlas V 411                 5750
ULA                         Atlas V 421                 6890
ULA                         Atlas V 431                 7700
ULA                         Atlas V 501                 3780
ULA                         Atlas V 511                 5250
ULA                         Atlas V 521                 6480
ULA                         Atlas V 531                 7450
ULA                         Atlas V 541                 8290
ULA                         Atlas V 551                 8900
ULA                    Delta IV M+(5,2)                 5080
ULA                    Delta IV M+(5,4)                 6890
ULA                      Delta IV Heavy                14210
ULA                 Vulcan Centaur 502*                 2900
ULA                 Vulcan Centaur 522*                 7600
ULA                 Vulcan Centaur 542*                10800
ULA                 Vulcan Centaur 562*                13600
ULA               Vulcan Centaur Heavy*                14400
SpaceX                         Falcon 9                 8300
SpaceX                     Falcon Heavy                26700
SpaceX                        Starship*                21000
Northrop Grumman             Minotaur V                  670
Blue Origin                  New Glenn*                13600

In [4]:
#current and future launch systems for trans-lunar injection
tli = pd.DataFrame(columns = ['Manufacturer', 'Vehicle', 'Payload to TLI (kg)'])

manufacturer = ['ULA']*16 + ['NASA']*3

vehicle = ['Delta IV Heavy', 
           'Atlas V 401', 'Atlas V 411', 'Atlas V 421', 'Atlas V 431', 'Atlas V 501', 'Atlas V 511', 'Atlas V 521', 'Atlas V 531', 'Atlas V 541', 'Atlas V 551',
           'Vulcan Centaur 502*', 'Vulcan Centaur 522*', 'Vulcan Centaur 542*', 'Vulcan Centaur 562*', 'Vulcan Centaur Heavy*',
          'Space Launch System Block 1*','Space Launch System Block 1b*', 'Space Launch System Block 2*']

payload_weight = [11290, 
                  3160, 4090, 4830, 5430, 2210, 3400, 4360, 5120, 5800, 6330,
                  2300, 6300, 9000, 11300, 12100,
                 26000, 41000, 45000]

tli['Manufacturer'] = manufacturer
tli['Vehicle'] = vehicle
tli['Payload to TLI (kg)'] = payload_weight
tli.set_index('Manufacturer')

                                    Vehicle  Payload to TLI (kg)
Manufacturer
ULA                          Delta IV Heavy                11290
ULA                             Atlas V 401                 3160
ULA                             Atlas V 411                 4090
ULA                             Atlas V 421                 4830
ULA                             Atlas V 431                 5430
ULA                             Atlas V 501                 2210
ULA                             Atlas V 511                 3400
ULA                             Atlas V 521                 4360
ULA                             Atlas V 531                 5120
ULA                             Atlas V 541                 5800
ULA                             Atlas V 551                 6330
ULA                     Vulcan Centaur 502*                 2300
ULA                     Vulcan Centaur 522*                 6300
ULA                     Vulcan Centaur 542*                 9000
ULA                     Vulcan Centaur 562*                11300
ULA                   Vulcan Centaur Heavy*                12100
NASA           Space Launch System Block 1*                26000
NASA          Space Launch System Block 1b*                41000
NASA           Space Launch System Block 2*                45000

In [5]:
###### current and future launch systems for trans-Mars injection
tmi = pd.DataFrame(columns = ['Manufacturer', 'Vehicle', 'Payload to TMI (kg)'])

manufacturer = ['ULA'] + ['SpaceX']*2

vehicle = ['Delta IV Heavy',
          'Falcon 9', 'Falcon Heavy']

payload_weight = [8000,
                 4020, 16800]

tmi['Manufacturer'] = manufacturer
tmi['Vehicle'] = vehicle
tmi['Payload to TMI (kg)'] = payload_weight
tmi.set_index('Manufacturer')

                     Vehicle  Payload to TMI (kg)
Manufacturer
ULA           Delta IV Heavy                 8000
SpaceX              Falcon 9                 4020
SpaceX          Falcon Heavy                16800

In [53]:
#function for merging multiple dataframes on the specific column 'Vehicle'

def merge_multiple_dataframes(dataframes):
    counter = 1
    length = len(dataframes)
    while counter < length:
        if counter == 1:
            newly_merged = pd.merge(dataframes[counter - 1], dataframes[counter], on = 'Vehicle', how = 'outer')
        elif counter != 1:
            newly_merged = pd.merge(dataframes[-1], dataframes[counter], on = 'Vehicle', how = 'outer')
        manufacturer = newly_merged['Manufacturer_x'].combine_first(newly_merged['Manufacturer_y'])
        newly_merged = newly_merged.drop(['Manufacturer_x', 'Manufacturer_y'], axis =1)
        newly_merged['Manufacturer'] = manufacturer
        dataframes.append(newly_merged)
        counter += 1
    return dataframes[-1]

In [54]:
dataframe_list = [geo, gto, tli, tmi]
current_launch_systems = merge_multiple_dataframes(dataframe_list)
current_launch_systems = current_launch_systems.set_index('Manufacturer')
current_launch_systems

,Vehicle,Payload to GEO (kg),Payload to GTO (kg),Payload to TLI (kg),Payload to TMI (kg)
Manufacturer,,,,,
ULA,Atlas V 411,1935.0,5750.0,4090.0,NaN
ULA,Atlas V 421,2480.0,6890.0,4830.0,NaN
ULA,Atlas V 431,2820.0,7700.0,5430.0,NaN
ULA,Atlas V 521,2540.0,6480.0,4360.0,NaN
ULA,Atlas V 531,3080.0,7450.0,5120.0,NaN
ULA,Atlas V 541,3530.0,8290.0,5800.0,NaN
ULA,Atlas V 551,3850.0,8900.0,6330.0,NaN
ULA,"Delta IV M+(5,2)",1840.0,5080.0,NaN,NaN
ULA,"Delta IV M+(5,4)",2710.0,6890.0,NaN,NaN
ULA,Delta IV Heavy,6580.0,14210.0,11290.0,8000.0
ULA,Vulcan Centaur 502*,7200.0,2900.0,2300.0,NaN
ULA,Vulcan Centaur 522*,2600.0,7600.0,6300.0,NaN
ULA,Vulcan Centaur 542*,4800.0,10800.0,9000.0,NaN
ULA,Vulcan Centaur 562*,6500.0,13600.0,11300.0,NaN
ULA,Vulcan Centaur Heavy*,7200.0,14400.0,12100.0,NaN
ULA,Atlas V 401,NaN,4750.0,3160.0,NaN
ULA,Atlas V 501,NaN,3780.0,2210.0,NaN
ULA,Atlas V 511,NaN,5250.0,3400.0,NaN
SpaceX,Falcon 9,NaN,8300.0,NaN,4020.0
SpaceX,Falcon Heavy,NaN,26700.0,NaN,16800.0
SpaceX,Starship*,NaN,21000.0,NaN,NaN
Northrop Grumman,Minotaur V,NaN,670.0,NaN,NaN
Blue Origin,New Glenn*,NaN,13600.0,NaN,NaN
NASA,Space Launch System Block 1*,NaN,NaN,26000.0,NaN
NASA,Space Launch System Block 1b*,NaN,NaN,41000.0,NaN
NASA,Space Launch System Block 2*,NaN,NaN,45000.0,NaN

In [52]:
current_launch_systems.to_csv('current_launch_systems.csv')